{% extends 'base.html' %}

{% block title %}
  Adoption Agency
{% endblock %}

{% block content %}
  <a href="/add" class="fake-button">Add Pet</a>

  {% for pet in pets %}
    <div class="Pet">
      <div class="Pet-name">
        <a href="/{{pet.id}}">{{pet.name}}</a>
      </div>

      <div class="Pet-photo">
        <img src="{{pet.photo_url}}" alt="{{pet.name}}">
      </div>

      {% if pet.available %}
        <div class="Pet-available">
          <b>Available</b>
        </div>
      {% endif %}

    </div>
  {% endfor %}



{% endblock %}